.grid {
  display: flex;
  justify-content: space-evenly;
  gap: 8px;
}

.gridItem {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.gridListItems {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
}